@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2f4f;
    /* opcional */
    font-family: 'Bricolage Grotesque';
}

.dinero {
    position: absolute;
    color: rgb(0, 152, 0);
    top: 50px;
    left: 50px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    display: none;
}

.escena {
    background-image: url("img/escenaInicial.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1307px;
    height: 689px;

    border-radius: 10px;
    /* box-shadow: 0 0 14px rgba(0,0,0,0.5); */
}

.derecha,
.izquierda {
    position: absolute;
    bottom: 0;
    height: 35vw;
    display: none;
}

.derecha {
    right: 10px;
}

.izquierda {
    left: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1347px;
    height: 819px;
}

.inicio {
    position: absolute;
    width: 274px;
    height: 83px;
    top: 570px;
    right: 823px;
    cursor: pointer;
}


.texto {
    width: 70vw;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 22px;
    display: none;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 1);
}

.objetivo {
    position: absolute;
    width: 281px;
    height: 205px;
    margin-left: 1483px;
    margin-top: 1px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 22px;
    display: none;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 1);
}

.casa {
    position: absolute;
    width: 91px;
    height: 111px;
    top: 348px;
    display: none;
    right: 808px;
}

.parada {
    position: absolute;
    width: 88px;
    height: 90px;
    top: 527px;
    right: 1233px;
    display: none;
}

.bus {
    position: absolute;
    width: 377px;
    height: 394px;
    top: 266px;
    right: 428px;
}

.batman {
    position: absolute;
    width: 169px;
    height: 268px;
    top: 434px;
    right: 1118px;
    display: none;
}

.dentroCasa {
    position: absolute;
    width: 57px;
    height: 85px;
    top: 522px;
    right: 802px;
    display: none;
}

.puertaExit {
    position: absolute;
    width: 167px;
    height: 253px;
    top: 172px;
    right: 1286px;
    display: none;
}

.cocina {
    position: absolute;
    width: 116px;
    height: 245px;
    top: 168px;
    right: 993px;
    display: none;
}

.volverSalon {
    position: absolute;
    width: 178px;
    height: 420px;
    top: 168px;
    right: 553px;
    display: none;
}

.minijuegoBellingham {
    position: absolute;
    width: 229px;
    height: 639px;
    top: 127px;
    right: 738px;
    display: none;
}

.botella1,
.botella2,
.botella3 {
    position: absolute;
    width: 117px;
    height: 117px;
    display: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.botella1:hover,
.botella2:hover,
.botella3:hover {
    transform: scale(1.1);
}

/* Cocina */
.botella1 {
    background-image: url(img/botella.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 355px;
    left: 651px;
}

/* Salón */
.botella2 {
    background-image: url(img/botella.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 347px;
    left: 664px;
}

/* Patio */
.botella3 {
    background-image: url(img/botella.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 654px;
    left: 558px;
}

.bobesponja {
    background-image: url(img/bobesponja.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 10vw;
    height: 20vh;
    display: none;
    left: 991px;
    top: 80px;
}

.peter {
    background-image: url(img/peter.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 160px;
    display: none;
    left: 663px;
    top: 615px;
}

.gato {
    background-image: url(img/gatete.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 125px;
    height: 125px;
    display: none;
    left: 645px;
    top: 174px;
}

.homer {
    background-image: url(img/homer.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 129px;
    height: 143px;
    display: none;
    left: 443px;
    top: 359px;
}

.nariz {
    position: absolute;
    width: 43px;
    height: 38px;
    display: none;
    left: 1038px;
    top: 395px;
}

.patio {
    position: absolute;
    width: 136px;
    height: 284px;
    left: 1229px;
    top: 157px;
    display: none;
}

.volverDentro {
    position: absolute;
    width: 89px;
    height: 165px;
    left: 543px;
    top: 193px;
    display: none;
}

.minijuegoNano {
    position: absolute;
    width: 259px;
    height: 495px;
    left: 1127px;
    top: 144px;
    display: none;
}

.monedaNano {
    position: absolute;
    top: 120px;
    width: 600px;
}



.ecuaciones {
    display: none;
    border: 4px solid rgba(116, 116, 116, 0.124);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(50px);
    left: 475px;
    top: 252px;
}

.ecuacion {
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.ecuacion:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.banyo {
    position: absolute;
    width: 126px;
    height: 258px;
    top: 184px;
    right: 706px;
    display: none;
}

.salirBanyo {
    position: absolute;
    width: 239px;
    height: 530px;
    top: 51px;
    right: 1188px;
    display: none;
}

.minijuegoBanyo {
    position: absolute;
    width: 213px;
    height: 200px;
    top: 51px;
    right: 536px;
    display: none;
}

.boton {
    display: none;
    position: absolute;
    width: 65px;
    height: 60px;
}

#btn0 {
    top: 561px;
    left: 832px;
}

#btn1 {
    top: 337px;
    left: 747px;
}

#btn2 {
    top: 337px;
    left: 832px;
}

#btn3 {
    top: 337px;
    left: 916px;
}

#btn4 {
    top: 413px;
    left: 748px;
}

#btn5 {
    top: 413px;
    left: 832px;
}

#btn6 {
    top: 413px;
    left: 916px;
}

#btn7 {
    top: 489px;
    left: 748px;
}

#btn8 {
    top: 489px;
    left: 832px;
}

#btn9 {
    top: 489px;
    left: 917px;
}

#enviar {
    top: 561px;
    left: 917px;
    width: 149px;
}

#borrar {
    top: 561px;
    left: 748px;
}

#pantalla {
    display: none;
    position: absolute;
    font-size: 50px;
    top: 150px;
    left: 740px;
}

#imagenNanoNumerin {
    display: none;
    position: absolute;
    top: 335px;
    left: 1000px;
    width: 150px;
}

.volverBanyo {
    position: absolute;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    border: 3px solid gray;
    border-radius: 15px;
    left: 491px;
    top: 100px;
}

/* .cocina {
   position: absolute;
  width: 57px;
  height: 85px;
  top: 522px;
  right: 773px;
}

.banyo {
   position: absolute;
  width: 57px;
  height: 85px;
  top: 522px;
  right: 773px;
}

.patioTrasero {
   position: absolute;
  width: 57px;
  height: 85px;
  top: 522px;
  right: 773px;
} */

/*body {
    background: #575757;
    background: radial-gradient(circle, rgba(87, 87, 87, 1) 0%, rgba(23, 26, 66, 1) 100%);
}


 #main {
    display: flex;
    align-self: center;
}


.escena {
    background-image: url("img/casa.png");
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.50);
    margin: auto;
    width: 70vw;
    /* /*margin-top: 10vh; 

}

.derecha, .izquierda {
    position: absolute;
    height: 35vw;
}

.derecha {
    right: 10px;
}

.izquierda {
    left: 10px;
} */