@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2f4f; /* opcional */
    font-family: 'Bricolage Grotesque';
}

.escena {
    background-image: url("img/paradaBus.png");
    background-size: contain;   
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1307px;
    height: 689px;

    border-radius: 10px;
    /* box-shadow: 0 0 14px rgba(0,0,0,0.5); */
}

.derecha, .izquierda {
    position: absolute;
    bottom: 0;
    height: 35vw;
}

.derecha {
    right: 10px;
}

.izquierda {
    left: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1347px;
    height: 819px;
}

.texto {
    width: 70vw;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 22px;
}

.casa {
    position: absolute;
    width: 91px;
    height: 111px;
    top: 348px;
    right: 787px;
}

.parada {
   position: absolute;
  width: 88px;
  height: 90px;
  top: 527px;
  right: 1208px;
}

.bus {
   position: absolute;
  width: 377px;
  height: 394px;
  top: 266px;
  right: 398px;
}

.dentroCasa {
   position: absolute;
  width: 57px;
  height: 85px;
  top: 522px;
  right: 773px;
}

.exit {
  position: absolute;
  width: 167px;
  height: 253px;
  top: 172px;
  right: 1286px;
}

.bobesponja{
    background-image: url(img/bobesponja.png);
background-size: contain; 
    background-repeat: no-repeat;
    position: absolute;
  width: 10vw;
  height: 20vh;
  display: none;
  left: 949px;
  top: 80px;
}

.gato{
  background-image: url(img/gatete.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 50vw;
  height: 12vh;
  display: none;
  left: 616px;
  top: 174px;
}

.patio {
  position: absolute;
  width: 136px;
  height: 284px;
  left: 1229px;
  top: 157px;
}

.volverDentro {
    position: absolute;
    width: 89px;
    height: 165px;
    left: 543px;
    top: 193px;

}

/* .cocina {
   position: absolute;
  width: 57px;
  height: 85px;
  top: 522px;
  right: 773px;
}

.banyo {
   position: absolute;
  width: 57px;
  height: 85px;
  top: 522px;
  right: 773px;
}

.patioTrasero {
   position: absolute;
  width: 57px;
  height: 85px;
  top: 522px;
  right: 773px;
} */

/*body {
    background: #575757;
    background: radial-gradient(circle, rgba(87, 87, 87, 1) 0%, rgba(23, 26, 66, 1) 100%);
}


 #main {
    display: flex;
    align-self: center;
}


.escena {
    background-image: url("img/casa.png");
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.50);
    margin: auto;
    width: 70vw;
    /* /*margin-top: 10vh; 

}

.derecha, .izquierda {
    position: absolute;
    height: 35vw;
}

.derecha {
    right: 10px;
}

.izquierda {
    left: 10px;
} */

